//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 14px;
$base-font-color: #333;
$base-background-color: #fff;
$color-primary: #eb6100;
$color-white: $base-background-color;

// path-image
$path-image: '../images';

//$color-primary
//$color-accent

$breakpoint-tablet: 1279px;
$breakpoint-mobile: 759px;
$site-size: 1181px + 60;

//sidebar
$sidebar-color: #444;
$sidebar-heading-border-color: #444;
$sidebar-item-border-color: #e0dddb;
$sidebar-link-hover-color: #fafafa;
$sidebar-icon-arrow: #7b7b7b;


//virtual
$base-font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$color-white: #fff;
$base-font-color: #444444;
$virtual-border: #e0dddb;
$listing-price-color: #eb6100;
$listing-font-color: #888888;
$listing-button-bg: #c2c2c2;
$listing-name-bg: #444444;
$zindex1: 1;

//Footer Places
$color-wild-sand: #f5f5f5;
$color-tundora: #444444;
$color-cod-gray: #181818;
$color-alto: #d0d0d0;
$color-gray: #828282;
