.l-container {
  width: $site-size;
  padding: 0 30px;
  margin: 0 auto;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    padding: 0 15px;
  }
}

.l-container-main .l-container-content {
  float: left;
  width: 862px;
  height: 100%;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    float: none;
  }
}

.l-container-main .l-container-sidebar {
  float: right;
  width: 276px;
  height: 100%;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    float: none;
  }
}
