.l-container {
  width: $site-size;
  padding: 0 30px;
  margin: 0 auto;
}

.l-container-main .l-container-content {
  float: left;
  width: 862px;
  height: 100%;
}

.l-container-main .l-container-sidebar {
  float: right;
  width: 276px;
  height: 100%;
}
