.tokyo .links-icon {
  position: relative;
  background-color: $color-teal;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;

  &:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid $base-background-color;
    border-right: 2px solid $base-background-color;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 45%;
    top: 50%;
  }
}

.tokyo .links-icon-preview {
  vertical-align: text-bottom;

  &:before {
    left: 45%;
    top: 50%;
  }
}
