.tokyo .owner {
  padding: 0 20px;
  margin-bottom: 20px;
}

.tokyo .owner-inner {
  background-color: $color-medium-gray;
  padding: 40px 41px;
  min-height: 410px;
}

.tokyo .owner-top {
  display: flex;
  margin: 0 -20px 35px;
}

.tokyo .owner-image {
  width: 130px;

  img {
    width: 100%;
  }
}

.tokyo .owner-name {
  font-size: 16px;
  font-weight: bold;
}

.tokyo .owner-top-box {
  padding: 0 20px;
}

.tokyo .owner-links {
  margin-top: 10px;
}

.tokyo .owner-details-list {
  list-style-type: none;
}

.tokyo .owner-details-list-item {
  display: flex;
  padding-bottom: 20px;
}

.tokyo .owner-details-label {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  min-width: 86px;
}

.tokyo .owner-details-text {
  font-size: 14px;
}

.tokyo .owner-status {
  margin-left: auto;
}
