//.status {}

.tokyo .status-icontext {
  color: $color-teal;
  border: 1px solid $color-teal;
  padding: 6px 12px;
  border-radius: 3px;
  display: block;
}

.tokyo .status-icon {
  svg {
    fill: $color-teal;
    width: 22px;
    height: 16px;
  }
}

.tokyo .status-text {
  font-size: 14px;
}
