.u-sp-hidden {
  display: block;
  @include max-screen($breakpoint-mobile) {
    display: none;
  }
}

.u-pc-hidden {
  display: none;

  @include max-screen($breakpoint-mobile) {
    display: block;
  }
  
}

//clearfix
.u-clear {
  zoom: 1;

  &:before,
  &:after {
      content: "";
      display: block;
  }

  &:after {
      clear: both;
  }
}