.archive {
  
}

.archive-inner {
  margin: 0 -20px;
}

.archive-list {
  list-style-type: none;
}

.archive-item {
  padding: 0 20px;
}

.archive-article {}

.archive-image {
  height: 163px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}