.btn {
  background-color: $base-font-color;
  width: 201px;
  min-height: 48px;
  color: $color-white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
  @include max-screen($breakpoint-mobile){
    font-size: 12px;
  }
}
.btn-arrow {
  overflow: hidden;
  width: 9px;
  height: 16px;
  right: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  position: absolute;
  @include max-screen($breakpoint-mobile){
    width: 5px;
    right: 9px;
  }
  &:before {
    content: "";
    height: 16px;
    width: 16px;
    border: 2px solid $color-white;
    display: block;
    transform: rotate(45deg);
    right: 3px;
    position: absolute;
    top: 0;
    @include max-screen($breakpoint-mobile){
      border-width: 1px;
    }
  }
}
.btn-white {
  width: 100%;
  display: block;
  background-color: $color-white;
  border: 1px solid $color-silver-chalice;
  color: $color-black;
  position: relative;
  padding: 17px 0;
  min-height: 58.5px;
  font-size: 18px;
  font-weight: 500;
  .btn-arrow {
    &:before {
      border-color: $base-font-color;
    }
  }
}
.btn-exhibition {
  padding-left: 12px;
  @include max-screen($breakpoint-mobile){
    font-size: 12px;
    letter-spacing: .01em;
    text-align: left;
    padding: 12px 0 13px 15px;
    min-height: auto;
  }
}
.btn-pdf {
  padding: 9px 0 6px;
  min-height: auto;
  padding-right: 28px;
  @include max-screen($breakpoint-mobile){
    padding: 12px 10px 9px 6px;
  }
}
.btn-pdf:before {
  content: "";
  background: url('../images/svg/pdf.svg') no-repeat center / cover;
  width: 27px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 4px;
  top: -2px;
  position: relative;
  @include max-screen($breakpoint-mobile){
    width: 11px;
    height: 14px;
    margin-right: 6px;
    margin-top: 0px;
    top: -3px;
  }
}
.btn-arrow-exhibition {
  right: 28px;
  @include max-screen($breakpoint-mobile){
    right: 6px;
    width: 4px;
  }
}
