.btn {
  background-color: $base-font-color;
  width: 201px;
  min-height: 48px;
  color: $color-white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  padding: 0 15px;
  cursor: pointer;
}
.btn-arrow {
  overflow: hidden;
  width: 9px;
  height: 16px;
  right: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  position: absolute;
  &:before {
    content: "";
    height: 16px;
    width: 16px;
    border: 2px solid $color-white;
    display: block;
    transform: rotate(45deg);
    right: 3px;
    position: absolute;
    top: 0;
  }
}
.btn-white {
  width: 100%;
  display: block;
  background-color: $color-white;
  border: 1px solid $color-silver-chalice;
  color: $color-black;
  position: relative;
  padding: 17px 0;
  min-height: 58.5px;
  font-size: 18px;
  font-weight: 500;
  .btn-arrow {
    &:before {
      border-color: $base-font-color;
    }
  }
}
.btn-pdf {
  padding: 11px 0 7px;
}
.btn-pdf:before {
  content: "";
  background: url('../images/svg/pdf.svg') no-repeat center / cover;
  width: 27px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  margin-top: 4px;
  top: -4px;
  position: relative;
}
