.tokyo {
  .common-header {
    display: flex;
    height: 122px;
    // justify-content: center;
    align-items: center;
    
  }
  .logo {
    display: inline-block;
    height: 70px;
    width: 320.57px;

    // &-right, &-left {
    //   display: inline-block;
    //   height: 100%;
    //   width: auto;
    //   vertical-align: top;
    // }

    // &-left {
    //   height: 62px;
    //   width: 60px;
    // }

    // &-top, &-bottom {
    //   line-height: 1;
    //   display: block;
    //   font-size: 22px;
    //   width: auto;
    //   color: black;
    // }

    // &-bottom {
    //   width: 244px;
    //   height: 40px;
    // }
  }

  .header-button {
    display: inline-block;
    width: auto;
    vertical-align: top;

    &-mark, &-text {
      display: inline-block;
      height: 30px;
      width: auto;
      color: black;
    }
  }

  .svg-color-search {
    fill: $button-search;
  }

  .svg-color-information {
    fill: $button-information;
  }

  .svg-color-login {
    fill: $button-login;
    stroke: white;
    stroke-width: 150px;
  }

  .text-white {
    color: white;
  }

  .login-button {
    background-color: $button-login;
    vertical-align: bottom;
    float: right;
    width: 200px;
    height: 100%;
    margin-left: auto;
    text-align: center;

    &-content {
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    }

  }


  




}