.eyecatch-image {
  padding: 47px 39px 47px 47px;
  background-color: #f5f5f5;

  @include max-screen($breakpoint-mobile) {
    padding: 16px 16px 31px 16px;
  }
}

.eyecatch-image-no-image {
  width: 522px;
  margin: 0 auto;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.eyecatch-image-container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  height: 430px;
}

.eyecatch-image-main {
  width: 64.5%;
  position: relative;
  overflow: hidden;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
}

.eyecatch-image-button {
  width: 62px;
  height: 62px;
  background-color: transparentize(#000, 0.3);
  position: absolute;
  top: 50%;
  transform: translateY(-34%);

  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    border-width: 3px 3px 0 0;
    border-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%) rotate(45deg);
  }

  //MODIFIER
  &-prev {
    left: 0;
    transform: translateY(-50%);
    
    &:before {
      border-width: 0 0 3px 3px;
      left: 9px;
    }
  }

  &-next {
    right: 0;
    
    &:before {
      border-width: 3px 3px 0 0;
      right: 9px;
    }
  }
}

.eyecatch-image-main-list {
  list-style-type: none;
}

.eyecatch-image-main-item {
  height: 430px;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    
    //STATE
    &.is-vertical {
      max-width: 100%;
    }

    &.is-horizontal {
      max-height: 100%;
    }
  }
}

.eyecatch-image-main-image {
  height: 100%;
  background-size: contain 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.eyecatch-image-nav {
  width: calc(35.5% - 28px);
  border: 1px solid #ccc;
  background: $color-white;
  height: 100%;
}

.eyecatch-image-inner {
  height: 100%;
  margin: 0 -5px;
}

.eyecatch-image-list {
  padding: 40px 28px;
  height: 100%;
  list-style-type: none;
  position: relative;

  //OVERWRITING SLICK DEFAULT STYLE
  .slick-list {
    padding-top: 20px;
  }

  .slick-dots {
    bottom: 9px;
    left: 0;
    right: 0;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-active {
    .eyecatch-image-pagination {
      background-color: #363636;
    }
  }
}

.eyecatch-image-pagination {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #e2e2e2;
  transition: background-color 0.3s ease-in-out;
}

.eyecatch-image-item {
  height: 90px;
  padding: 0 5px;
  vertical-align: middle;
  margin: 0 0 20px;
  position: relative;

  &:before {
    content: "";
    opacity: 0;
    display: block;
    width: 100%;
    height: 110%;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
  }
  
  &.is-active {
    &:before {
      opacity: 1;
    }
  }
}

.eyecatch-image-nav-image {
  height: 100%;
  border: 1px solid #ddd;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}