// footer-places
.footer-places {
  background-color: $color-wild-sand;
  min-width: $site-size;
  @include max-screen($breakpoint-mobile) {
    min-width: auto;
  }
}
.footer-places-wrapper {
  margin-bottom: 20px;
  background-color: $color-wild-sand;
  &:last-child {
    margin-bottom: 0px;
  }
  @include max-screen($breakpoint-mobile) {
    margin-bottom: 16px;
  }
}
.footer-place-list {
  display: inline-block;
  vertical-align: top;
  width: 162px;
  padding-right: 15px;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    padding-right: 0;
    display: block;
    margin-bottom: 6px;
  }
  p {
    font-weight: bold;
    line-height: 1.8;
    @include max-screen($breakpoint-mobile) {
      font-size: 13px;
    }
  }
}
.footer-place-link {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 162px);
  margin-left: -4px;
  @include max-screen($breakpoint-mobile) {
    width: 100%;
    margin-left: 0;
    display: block;
  }
}
