.footer {
  background-color: $color-cod-gray;
}

.footer-content {
  text-align: center;
}

.footer-content-disclaimer {
  margin-bottom: 98px;
  p {
    color: $color-alto;
    font-size: 12px;
    margin-bottom: 18px;
    line-height: 1.6;
    b {
      color: $color-white;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.footer-content-links {
  text-align: center;
  margin-bottom: 85px;
}
.footer-content-links-inner {
  display: inline-block;
  margin: 0 -33px;
}
.footer-content-links-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 33px;
  margin-left: -4px;
  &:first-child {
    margin-left: 0;
  }
}
.footer-content-link {
  display: inline-block;
  font-size: 14px;
  img {
    width: 28px;
    margin-bottom: 18px;
  }
  span {
    display: block;
    color: $color-white;
  }
}
.footer-copyright {
  &:before {
    content: "";
    display: inline-block;
    width: 121px;
    height: 2px;
    background-color: $color-gray;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  p {
    color: $color-gray;
    small {
      font-size: 12px;
    }
  }
}