// footer-places
.footer-places {
  background-color: $color-wild-sand;
}
.footer-places-wrapper {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.footer-place-list {
  display: inline-block;
  vertical-align: top;
  width: 162px;
  padding-right: 15px;
  p {
    font-weight: bold;
    line-height: 1.429;
  }
}
.footer-place-link {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 162px);
  margin-left: -4px;
}