.main-map {
  height: 607px;
  width: 100%;
  position: relative;
}

.main-map-container {
  height: 100%;
}

.main-map-info {
  width: 400px;
  height: calc(100% - 86px);
  background: $color-white;
  border: 1px solid #e2e2e2;
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(-50%);
}
