.map-button {
}

.map-button-list {
  list-style: none;
  font-size: 0;
  letter-spacing: 0;
  margin: 0 -7px;
}

.map-button-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding: 0 7px;
  margin-bottom: 14px;

  &:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

.map-button-link {
  display: block;
  padding: 11px 13px;
  border: 1px solid $color-primary;
  background-color: $color-white;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
    border-color: $color-primary;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right;
    transition: background-color 0.2s ease-in-out;
  }

  span {
    position: relative;
    color: $color-primary;
    font-size: 14px;
    z-index: 1;
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    span  {
      color: $color-white;
    }

    &:before {
      border-color: $color-white;
    }

    &:after {
      background-color: $color-primary;
    }
  }
}