.map-box {
  background-color: #cdcdcd;
  height: 494px;
  margin-top: 15px;
  position: relative;
}

.map-box-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.map-box-base {
  width: 617px;
  position: relative;
  left: -6px;
  bottom: 6px;
  z-index: 1;
}

.map-box-base.map-box-base-back {
  width: 817px;
  position: absolute;
  bottom: -35px;
  right: -10px;
  left: auto;
  z-index: auto;
}

.map-box-base.map-box-base-lower {
  width: 128px;
  position: absolute;
  bottom: -21px;
  right: 0;
  z-index: 1;
  left: auto;
}