
.menu {
 background-color: $menu-background;
 padding: 15px 0 14px;
 color: $menu-color-white;

}

.menu-list {
 display: inline-block;
}

.menu-item {
 display: inline-block;
 vertical-align: top;
}

.menu-link {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: $menu-color-white;
}

// menu-account
.menu-account {
  margin-left: 95px;
}

.menu-account-link {

}

.menu-account-item {
 margin-right: 26px;
}

// menu-profile

.menu-profile {
  float: right;
  margin-right: 149px;
}

.menu-profile-item {
  vertical-align: middle;
  margin-left: 12px;
}

.menu-profile-user {
  svg {
    stroke: $menu-color-white;
    stroke-width: 2px;
    fill: $menu-color-white;
  }
}

.menu-profile-notif {
  svg {
    stroke: $menu-color-white;
    stroke-width: 25px;
    fill: transparent;
  }
}

.menu-profile-star {
  svg {
    stroke: $menu-color-white;
    stroke-width: 10px;
    fill: transparent;
  }
}
