// place-link
.place-link {}

.place-link-wrapper {
  margin: 0 -15px;
  list-style-type: none;
  overflow: hidden;
  @include max-screen($breakpoint-mobile) {
    margin: 0;
  }
}
.place-link-item {
  float: left;
  padding: 0 15px;
  width: 136px;
  line-height: 1.8;
  margin-bottom: 2px;
  @include max-screen($breakpoint-mobile) {
    width: 33.3333%;
    padding: 0 10px 0 0;
    margin-bottom: 5.3px;
    font-size: 13px;
  }
  &:last-child {
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
    color: $color-tundora;
  }
}
.place-link-inner {
  list-style-type: none;
}
