.property {
  @include max-screen($breakpoint-mobile) {
    padding: 0 15px;
  }
}

.property-heading {
  font-size: 32px;
  font-weight: 300;
  padding-left: 102px;
  line-height: 1.3;
  margin-bottom: 26px;

  @include max-screen($breakpoint-mobile) {
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 36px;
  }
}

.property-subheading {
  background-color: $property-subheading-bg;
  color: $property-white-text;
  display: inline-block;
  float: left;
  font-size: 13px;
  padding: 0 9px 0 13px;
  font-weight: 400;
  margin-right: 20px;

  @include max-screen($breakpoint-mobile) {
    float: none;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 9px 4px 13px;
    margin: 0 0 16px;
  }
}

.property-value {
  display: inline-block;
  vertical-align: top;

  @include max-screen($breakpoint-mobile) {
    display: block;
  }
}

.property-left {

}

.property-left-list {
  list-style-type: none;

  @include max-screen($breakpoint-mobile) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

  }
}

.property-left-item {
  display: inline-block;
  position: relative;
  background-color: $property-item-bg;
  margin-right: 11px;

  @include max-screen($breakpoint-mobile) {
    flex-grow: 1;
    width: calc((100% / 2) - 30px);
    margin: 0 0 3px 0;

  }
}

.property-legend {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $property-legend-bg;
  color: $property-white-text;
  height: 100%;

}

.property-vertical-text {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 0 5px;
}

.property-cost {
  color: $property-black-text;
  font-size: 36px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.009em;
  padding: 15px 53px 16px 65px;

  @include max-screen($breakpoint-mobile) {
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0 6px 52px;
    display: block;
  }

}

.property-cost-big {
  padding-right: 62px;

  @include max-screen($breakpoint-mobile) {
    padding-right: 0;
  }
}

.property-currency {
  font-size: 18px;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
  }
}

// property-right

.property-right {

}

.property-right-list {
  list-style-type: none;
}

.property-right-item {
  background-color: $property-item-bg;
  display: inline-block;
  vertical-align: top;
  position: relative;

  &:last-child {
    right: -25px;

    @include max-screen($breakpoint-mobile) {
      right: auto;
    }
  }

  @include max-screen($breakpoint-mobile) {
    display: block;
    margin-bottom: 24px;
  }
}

.property-label {
  position: relative;
  display: block;
  font-size: 13px;
  padding: 4px 123px 3px 75px;

  @include max-screen($breakpoint-mobile) {
    padding: 5px 0 1px 59px;
  }

  &:not(:last-child) {
    border-bottom: 2px solid $property-label-border;
  }
}

.property-legend-right {
  padding: 4px 16px 0 15px;

  @include max-screen($breakpoint-mobile) {
    padding: 4px 10px 0;
  }
}

.property-link {
  display: block;
  padding: 28px 110.5px;
  border: 1px solid $property-link-border;
  position: relative;
  font-size: 18px;
  color: $property-black-text;
  background-color: $property-white-bg;
  text-align: center;

  &:before {
    content: '';
    height: 11px;
    width: 11px;
    border: 2px solid $property-link-border;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 34px;
    right: 41px;

    @include max-screen($breakpoint-mobile) {
      width: 10px;
      height: 10px;
      top: 17px;
      right: 8px;
    }
  }

  @include max-screen($breakpoint-mobile) {
    width: 100%;
    padding: 10px 0;
  }
}
