.property {
  margin-bottom: 26px;
}

.property-container {

}


.property-heading {
  font-size: 32px;
  font-weight: 300;
  padding-left: 102px;
  line-height: 1.3;
  margin-bottom: 26px;

  @include max-screen($breakpoint-mobile) {
    padding-left: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 36px;
  }
}

.property-subheading {
  background-color: $property-subheading-bg;
  color: $property-white-text;
  display: inline-block;
  float: left;
  font-size: 13px;
  padding: 0 9px 0 13px;
  font-weight: 400;
  margin-right: 20px;

  @include max-screen($breakpoint-mobile) {
    float: none;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 9px 4px 13px;
    margin: 0 0 16px;
  }
}

.property-value {

}

.property-list {
  list-style-type: none;
}

.property-item {
  background-color: $property-item-bg;
  display: inline-block;
  vertical-align: top;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:nth-child(2) {
    margin-right: 17px;
  }

  &:nth-child(3) {
    margin-right: 24px;
  }

  &:last-child {
    background-color: transparent;
  }

}

.property-cost {
  font-size: 36px;
  padding: 0 49px 0 32px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.009em;
  font-weight: bold;

  @include max-screen($breakpoint-mobile) {
    font-size: 22px;
    padding: 0 21px 0 17px;
  }
}

.property-currency {
  font-size: 18px;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
  }
}

.property-legend {
  background-color: $property-legend-bg;
  color: $property-white-text;
  display: inline-block;
  font-size: 16px;
  writing-mode: vertical-lr;
  padding: 25px 3px;
  vertical-align: middle;
  font-weight: bold;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
    padding: 9px 7px;
  }
}

.property-label {
  display: block;
  font-size: 13px;
  padding-right: 116px;

  &:not(:last-child) {
    border-bottom: 2px solid $property-label-border;
  }

  .property-legend {
    writing-mode: initial;
    padding: 1px 12px;
    margin-right: 19px;
  }
}

.property-link {
  display: block;
  padding: 29px 110px;
  border: 1px solid $property-link-border;
  position: relative;
  font-size: 18px;
  color: $property-black-text;

  &:before {
    content: '';
    height: 11px;
    width: 11px;
    border: 2px solid $property-link-border;
    border-top-width: 0;
    border-left-width: 0;
    transform: rotate(45deg);
    position: absolute;
    top: 34px;
    right: 41px;
  }
}
