//.search-property {}
.search-property-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid $color-dusty-gray;
}
.search-property-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.search-property-form {
  padding: 32px;
  background-color: $color-wild-sand;
}
.search-property-buttons {
  padding: 48px 52px 0 49px;
  margin: 0 -21px;
}
.search-property-buttons-inner {
  list-style: none;
}
.search-property-btn-item {
  padding: 0 21px;
}
.search-property-btn-link {
  width: 100%;
  height: 78px;
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: bold;
  padding: 29px 0;
}
