//.search-property {}
.search-property-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid $color-dusty-gray;
}
.search-property-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.search-property-form {
  padding: 32px;
  background-color: $color-wild-sand;
}
