.virtual {
  padding-top: 59px;
}

.virtual-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.045em;
}

.virtual-top {
  border: 1px solid $virtual-border; 
  margin-top: 31px;
  padding: 11px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.virtual-top-item {
  width: calc((100%/2) - 22px);
  margin: 11px;
}

.virtual-left img {
  display: block;
  width: 100%;
}

.virtual-left-inner {
  position: relative;
  
  &:before {
    content: url(https://image.ibb.co/jPwked/listing_icon.png);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zindex1;
  }
  &:after {
    content: '';
    background: url(https://image.ibb.co/caNDFJ/listing_icon_2.png) no-repeat center top;
    background-size: 100%;
    width: 100%;
    max-width: 313px;
    padding: 10% 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    z-index: $zindex1;
  }
}

.virtual-right {
  position: relative;
}

.virtual-right-heading {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.035em;
}

.virtual-right-copy {
  font-size: 14px; 
  line-height: 1.4;
}