$virtual-border: #e0dddb;
$virtual-border-2: #323232;
.virtual {
  border: 1px solid $virtual-border;
  margin-top: 31px;
  padding: 11px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include max-screen($breakpoint-mobile) {
    display: block;
    padding: 8px 8px 26px;
    width: 91%;
    margin: 0 auto;
  }
}

.virtual-second {
  padding: 0;
  border: 2px solid $virtual-border-2;
}

.virtual-iframe {
  width: 100%;
  height: 284px;
  border: 0;

  @include max-screen($breakpoint-small) {
    height: 174px;
  }
}

.virtual-second-iframe {
  height: 370px;
}

.virtual-top-item {
  margin: 11px;

  @include max-screen($breakpoint-mobile) {
    margin: 0;
  }
}

.virtual-second-top-item-first {
  margin: 0 30px 0 0;
}

.virtual-left {
  width: 53.5%;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}

.virtual-left-copy {
  background-color: rgba($color-black, 0.8);
  color: $color-white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  max-width: 353px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vw;
  z-index: $zindex1;

  @include max-screen($breakpoint-mobile) {
    font-size: 2.5vw;
    border-radius: 4px;
    padding: 4px;
    width: 71%;
    bottom: 2vw;
  }

  &:before {
    content: '';
    width: 0;
    height: 0;
    border: 13px solid transparent;
    border-bottom: 18px solid rgba(0, 0, 0, 0.8);
    border-top: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: -18px;
    margin: 0 auto;

    @include max-screen($breakpoint-mobile) {
      border: 7px solid transparent;
      border-bottom: 10px solid rgba(0, 0, 0, 0.8);
      top: -17px;
    }
  }
}

.virtual-second-left-copy {
  font-size: 18px;
  max-width: 421px;
  bottom: 3vw;

  @include max-screen($breakpoint-mobile) {
    width: 71%;
  }
}

.virtual-svg {
  display: block;
  width: 24px;
  margin: 0 auto 9px;

  @include max-screen($breakpoint-mobile) {
    width: 7%;
    margin-bottom: 4px;
  }
}

.virtual-second-svg {
  width: 29px;
}

.virtual-left-inner {
  position: relative;

  &:before {
    content: '';
    background: url(#{$path-image}/virtual-icon.png) no-repeat center top;
    background-size: 100%;
    width: 144px;
    height: 144px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: $zindex1;

    @include max-screen($breakpoint-mobile) {
      width: 23vw;
      height: 23vw;
    }
  }
}

.virtual-second-left-inner:before {
  width: 97px;
  height: 97px;

  @include max-screen($breakpoint-mobile) {
    width: 23vw;
    height: 23vw;
  }
}

.virtual-right {
  position: relative;
}

.virtual-right-heading {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.035em;

  @include max-screen($breakpoint-mobile) {
    font-size: 14px;
    margin: 14px 0 8px;
    letter-spacing: 0.05em;
  }
}

.virtual-second-right-heading {
  font-size: 24px;
  letter-spacing: 0.001em;
}

.virtual-right-copy {
  font-size: 14px;
  line-height: 1.4;

  @include max-screen($breakpoint-mobile) {
    font-size: 13px;
  }
}

.virtual-second-right-copy {
  font-size: 15px;
  line-height: 2;
}

.virtual-button {
  $virtual-button-border: #a6a6a6;
  display: block;
  margin-top: 16px;
  text-align: center;
  padding: 19px;
  color: $base-font-color;
  font-size: 18px;
  border: 2px solid $virtual-button-border;
  position: relative;

  &:before {
    content: '';
    background: url(#{$path-image}/svg/pdf.svg) no-repeat center top;
    background-size: cover;
    width: 26px;
    height: 33px;
    margin: -3px auto 0;
    position: absolute;
    left: 0;
    right: 167px;
  }
  &:after {
    content: '';
    width: 12px;
    height: 12px;
    border-top: 2px solid $base-font-color;
    border-right: 2px solid $base-font-color;
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    right: 26px;
  }
}
